<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restful Blog</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  </head>
  <body>

<nav class="ui menu fixed inverted">
<div class="ui container">
  <div class="header item"><i class="icon code"></i>Code Lab</div>
  <a href="/" class="item">Home</a>
  <a href="/blogs/new" class="item">Add Post</a>
</div>
</nav>
